

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rotate2{
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.spin-container{
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.spin-element{
    animation-name: rotate2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}