.overlay-container{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    flex-flow: column;
    justify-content: center;
    display: none;
}

.close-overlay{
    position:absolute;
    top:0;
    right: 0;
}

.close-overlay:hover{
    transform: scale(1.2);
    color:red;
}